nav{
	float: right;
}
li{
	float:right;
	display: inline;
	margin-right: 30px;
	font-family: Helvetica;
font-size: 17px;
font-weight: 400;
line-height: 19.55px;
color:  #636060;
;

}

.banner{
	min width: 100vw;
	margin-top: 40px;
	background-size: cover;
}
div{
	position: relative;
}
h1, h3, img{
	position: absolute;
}
h1{
	margin-top: 300px;
	margin-left: 600px;
}
h3{
	margin-top: 340px;
	margin-left:580px;
}